<ion-header>
  <ion-toolbar color="tertiary">
      <ion-buttons slot="start">
          <ion-back-button defaultHref="login"></ion-back-button>
        </ion-buttons>
    <ion-title>Reset Password</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding class="auth-page">
  <img src="assets/img/logo.jpg" class="auth-img" />
  <form [formGroup]="resetPasswordForm">
    <ion-item>
      <ion-label position="stacked">Email</ion-label>
      <ion-input formControlName="email" type="email" placeholder="Your email address"
        [class.invalid]="!resetPasswordForm.controls['email'].valid && resetPasswordForm.controls['email'].touched">
      </ion-input>
    </ion-item>
    <ion-item class="error-message" *ngIf="!resetPasswordForm.controls['email'].valid &&
         resetPasswordForm.controls['email'].touched">
      <ion-label>Please enter a valid email address.</ion-label>
    </ion-item>

    <ion-button (click)="resetPassword(resetPasswordForm)" expand="block" [disabled]="!resetPasswordForm.valid" color="success">
      Reset your Password
    </ion-button>
  </form>
</ion-content>
