<ion-tabs #tabs>
	<ion-tab-bar slot="bottom" color="light">
		<ion-tab-button tab="emergency-contact">
			<ion-icon name="contact"></ion-icon>
			<ion-label>Contact</ion-label>
		</ion-tab-button>

		<!--<ion-tab-button tab="create-emergency-contact">
				<ion-icon name="contact"></ion-icon>
				<ion-label>Contact</ion-label>
			</ion-tab-button>-->

		<ion-tab-button tab="emergency">
			<ion-icon color = "danger" name="alert"></ion-icon>
			<ion-label>Emergency</ion-label>
		</ion-tab-button>

		<ion-tab-button tab="profile">
			<ion-icon name="md-person"></ion-icon>
			<ion-label>Profile</ion-label>
		</ion-tab-button>
	</ion-tab-bar>
</ion-tabs>
