<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="emergency"></ion-back-button>
    </ion-buttons>
    <ion-title> {{ (emergency | async)?.name }}</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="showOptions()">
        <ion-icon slot="icon-only" name="more"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content padding>
 
  <ion-card>
    <ion-card-header> Emergency Details </ion-card-header>
    <ion-list>
      <ion-item>
        <ion-icon color="secondary" name="information-circle" slot="end"> </ion-icon>
        <ion-label> {{ (emergency | async)?.emergencyName }} </ion-label>
      </ion-item>

      <ion-item>
        <ion-icon color="favorite" name="calendar" slot="end"></ion-icon>
        <ion-label> {{ (emergency | async)?.emergencyDate }} </ion-label>
      </ion-item>

      <ion-item>
        <ion-icon color="secondary" name="calendar" slot="end"></ion-icon>
        <ion-label> {{ (emergency | async)?.lat }} </ion-label>
      </ion-item>

      <ion-item>
        <ion-icon color="secondary" name="calendar" slot="end"></ion-icon>
        <ion-label> {{ (emergency | async)?.long }} </ion-label>
      </ion-item>

    </ion-list>
  </ion-card>
</ion-content>
