ion-list-header {
    background-color: #ececec;
    }
    .text-center {
    text-align: center;
    }
    .text-left {
    text-align: left;
    }
    .placeholder-profile {
    color: #cccccc;
    }
    .dob-label {
    color: #000000 !important;
    padding: 10px !important;
    max-width: 50% !important;
    }


    :host {
        ion-content {
            --background: linear-gradient(135deg, var(--ion-color-dark), var(--ion-color-primary));
    
        }
    
      
    }
    
    .paz {
        position: relative;
        z-index: 10;
    }
    
    img {
        margin-top: 15%;
        max-width: 30%;
        margin-left: 37%;
        margin-right: 50%;
    }
    
    p{
        text-align: center;
        font-size: 24px;
        background: -webkit-linear-gradient(rgb(255, 255, 255), rgb(19, 255, 255));
         -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
    }